*{
	padding: 0px;
	margin: 0px;
}
div{
	width: 630px;
	height: 450px;
}
header{
	padding-top: 10px;
	width: 610px;
	margin: 0px auto;
	height: 80px;
}
header p:nth-child(1){
	float: left;
}
header p:nth-child(2){
	float: right;
}
section{
	clear: both;
}
article{
	padding-left: 10px;
	float: left;
}
article img{
	width: 250px;
	height: 200px;
}
article ul{
	padding-left: 18px;
}
article li{
	font-size: 12px;
}
article a{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
form{
	float: right;
	border: 1px solid black;
	padding: 10px;
}
form p{
	line-height: 45px;
}
form p:nth-child(4){
	text-align: center;
}
form p:nth-child(5){
	text-align: center;
}
footer{
   clear:both;
}
footer a{
	color: black;
	font-size: 14px;
	text-decoration: none;
}