body{
	background-color: #EEE7E1;
}
div{
	width: 260px;
	background-color: white;
}
ul{
	list-style-type: none;
}
p,ul{
	margin: 0px;
	padding: 0px;
}
p{
	background-color: #E9185A;
	height: 35px;
	line-height: 35px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
}
li{
	border-bottom: 1px #A8A5A5 dashed;
	height: 30px;
	text-decoration: 30px;
	padding-left: 2px;
}
a{
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a:hover{
	color: #E9185A;
}
span{
	color: #FFF;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #373B3C;
	line-height: 20px;
	text-align: center;
}
a:hover span{
	background-color: #E9185A;
}

