body{
	width:300px;
	height: 250px;
}
h2{
	text-indent: 1em;
	color: white;
	background:linear-gradient(to top,#b6dbf5,#63a7d6,#0467ac);
	font-size: 18px;
	line-height: 35px;
}
h3{
	text-indent: 2em;
	color:#0565c6;
	background:linear-gradient(to top,#e4f1fa,#bddff7,#e4f1fa);
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	padding: 0px;
}
a{
	color: #666666;
	text-decoration: none;
	font-size: 12px;
	line-height: 26px;
	
}
a:hover{
	color: #f60;
}